body {
    background-repeat: repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkrgxlIMRcqnBeaXIQgqDzXmNdpj19ixE3tw&s");
    background-color: #d090ab;
    color: #281745;
}

nav {
    text-align: center;
    color: #f7ebf1;
    background-color: #7e2153;
    padding: 20px;
}
h1, p {
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #311440;
    color: #dda5bc;
}