h1, p {
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #311440;
}

.text-pink {
    color: #dda5bc;
  }

.bg-pink {
    background-color: #dda5bc;
  }
